/* css styles */
main {

    text-align: justify;
}

p {
    text-indent: 40px;
}

img {



    max-height: 100vh !important;
    width: auto;


    margin: 0 auto;

}

li p {

    text-indent: 0 !important;
}

figcaption {

    text-align: center !important;
}

table {

    text-align: center;
}