/* css styles */
main {

    text-align: justify;
}


img {



    max-height: 100vh !important;
    width: auto;


    margin: 0 auto;

}

li p,
.no-san {

    text-indent: 0 !important;
}

figcaption {

    text-align: center !important;
    color: white !important;

    font-style: italic;


}

table {

    text-align: center;

}

body {
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    color: rgb(12, 3, 52) !important;
    color: rgb(12, 3, 52) !important;

}

td,
th {
    color: rgb(12, 3, 52) !important;
}

.title {
    color: rgb(167, 125, 0) !important;
    text-transform: uppercase;
    font-size: 3rem;

}

h1,
h1 .header-section-number {
    color: rgb(167, 125, 0) !important;

}

tr td:first-child {


    font-weight: bold;
}




h2,
h3,
.header-section-number {

    color: rgb(12, 3, 52) !important;
}

h2 {

    border-color: rgb(167, 125, 0) !important;


    border-width: 2px;
}

#quarto-sidebar {

    background: none;

    color: rgb(0, 0, 0);
}

img {

    text-indent: 0px;
}

.accordion-item {

    background: none;
}

.accordion-item img {

    background-color: white;
    border-radius: 10px;
    padding: 5px;
}


img {
    border-radius: 10px;
}

.center {

    text-align: center;
}